img {
  width: 100%;
}
html {
  background-color: #f5f3ec;
}
h1,
h2,
h3,
h4 {
  font-family: "nunito sans";
}
p {
  font-family: "nunito sans";
  color: black;
}
a {
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  font-family: "Lato";
  letter-spacing: 3px;
  background-color: #f5f3ec;
  transition: background-color 0.3s ease;
  padding-left: 20px;
  border-bottom: 1px solid black;
}
a:hover {
  background-color: #f3e8be;
}
.list {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr;
}
.brandnames {
  display: grid;
  grid-template-columns: 1fr;
}
