img {
  width: 100%;
  display: block;
}
html {
  background-color: #f5f3ec;
}
h1,
h2,
h3,
h4 {
  font-family: "nunito sans";
}
p {
  font-family: "Nunito Sans";
}
@media screen and (min-width: 800px) {
  .brands {
    display: grid;
    padding-left: 20px;
    font-size: 1.5rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
    color: black;
  }
  .product {
    padding: 20px;
  }
  .product a {
    text-decoration: none;
    color: black;
  }
  .product1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .product-soldout {
    position: relative;
  }
  .product-soldout img {
    position: relative;
    filter: grayscale(100%);
  }

  .product-soldout:after {
    content: "Sold Out";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-152%, -465%);
    background-color: rgba(0, 0, 0, 0.657); /* Justér farven efter behov */
    color: white;
    padding: 20px;
    font-size: 1rem;
    display: block;
    font-family: "lekton";
  }

  .product:hover img {
    filter: grayscale(40%) brightness(1.2);
    display: flex;
  }
  .product-image {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .discount {
    position: absolute;
    transform: translate(380%, -290%);
    background-color: rgba(229, 52, 52, 0.657); /* Justér farven efter behov */
    color: white;
    padding: 5px 15px;
    font-size: 1rem;
    display: block;
    font-family: "nuntio sans";
  }
  .nypris {
    font-weight: bold;
    grid-template-columns: 3fr 5fr;
    display: grid;
    cursor: pointer;
  }
  .nypris span {
    font-weight: bold;
    color: red;
  }
  .nypris p:last-child {
    font-weight: bold;
    color: red;
  }

  @media screen and (max-width: 800px) {
    .brands {
      display: grid;
      padding-left: 20px;
      font-size: 1.5rem;
    }
    .main {
      display: grid;
      grid-template-columns: 1fr;

      grid-template-rows: 1fr 1fr 1fr 1fr;
      padding: 20px;
      color: black;
    }
    .product {
      padding: 20px;
    }
    .product a {
      text-decoration: none;
      color: black;
    }
    .product1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .product-soldout {
      position: relative;
    }
    .product-soldout img {
      position: relative;
      filter: grayscale(100%);
    }

    .product-soldout:after {
      content: "Sold Out";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-152%, -465%);
      background-color: rgba(0, 0, 0, 0.657); /* Justér farven efter behov */
      color: white;
      padding: 20px;
      font-size: 1rem;
      display: block;
      font-family: "lekton";
    }

    .product:hover img {
      filter: grayscale(40%) brightness(1.2);
      display: flex;
    }
    .product-image {
      max-width: 100%;
      height: auto;
      display: block;
    }
    .discount {
      position: absolute;
      transform: translate(380%, -290%);
      background-color: rgba(229, 52, 52, 0.657); /* Justér farven efter behov */
      color: white;
      padding: 5px 15px;
      font-size: 1rem;
      display: block;
      font-family: "nuntio sans";
    }
    .nypris {
      font-weight: bold;
      grid-template-columns: 3fr 5fr;
      display: grid;
      cursor: pointer;
    }
    .nypris span {
      font-weight: bold;
      color: red;
    }
    .nypris p:last-child {
      font-weight: bold;
      color: red;
    }
  }
}
